---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign talks_sorted = site.talks | sort: "date" | reverse %}
{% assign prev_year = "" %}

{% for post in talks_sorted %}
  {% assign this_year = post.date | date: "%Y" %}
  {% if this_year != prev_year %}
    <h2 id="year-{{ this_year }}">{{ this_year }}</h2>
    <div class="talks-year" data-year="{{ this_year }}">
    {% assign prev_year = this_year %}
  {% endif %}

  {% include archive-single-talk.html %}

{% endfor %}

{% if prev_year != "" %}
  </div>
{% endif %}

